<body>
  <main>
  <button class="close-btn" onclick="history.back()">&times;</button>

  <h2>Edit Your Profile</h2>

  <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
    <div class="input-group">
      <input
        type="text"
        name="fullName"
        [(ngModel)]="userData.fullName"
        placeholder="Full Name"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="email"
        name="email"
        [(ngModel)]="userData.email"
        placeholder="Email"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="text"
        name="phoneNumber"
        [(ngModel)]="userData.phoneNumber"
        placeholder="Phone Number"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="text"
        name="region"
        [(ngModel)]="userData.region"
        placeholder="Region"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="date"
        name="birthDate"
        [(ngModel)]="userData.birthDate"
        required
      />
    </div>

    <button type="submit" [disabled]="!profileForm.form.valid" class="signup-btn">
      Update Profile
    </button>
  </form>

  <div *ngIf="message" class="success-message">{{ message }}</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
  </main>

</body>
